.App {
  width: 100vw;
  height: 100vh;
  background-color: #282c34;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.viewer {
  width: 100%;
  height: 80vh;
}

.App-header {
  background-color: #f20c00;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 10vh;
  font-size: calc(10px + 2vmin);
  color: white;
}
.footer {
  width: 100%;
  height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-info {
  font-size: 10rpx;
  color: #ffffff;
}

.logo {
  width: 18vh;
  height: 8vh;
}
.name-wrapper {
  margin-left: 10px;
}

.name {
  font-size: 20px;
  color: #ffe600;
  font-weight: bold;
}

.name-pingyin {
  font-size: 16px;
  color: #ffe600;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
